:root {
  --font-size: 1rem;
  --form-control-padding: .4rem;
  --light-border-main-color: #98d1f1;
}

.control {
  appearance: none;
  font-size: var(--font-size);
  outline: none;
  -webkit-appearance: none;
}

.form-control {
  display: inline-flex;
  position: relative;
}

.form-control>.control {
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  margin: 0;
  padding: var(--form-control-padding);
  position: relative;
  width: 100%;
}

.form-control>.control:hover,
.form-control>.control:focus-within {
  border-color: var(--light-border-main-color);
}